[package]
name = "lambdaworks-math"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"

[dev-dependencies.criterion]
version = "0.4"
features = ["async_futures"]

[dev-dependencies.pprof]
version = "0.11"
features = ["criterion", "flamegraph", "frame-pointer"]
default-features = false
