name: CI

on:
  push:
    branches: [ main ]

jobs:
  cache_iai_benchs:
    name: Cache iai benchs of main
    runs-on: ubuntu-20.04
    steps:
    - name: Install valgrind
      run: |
        sudo apt update
        sudo apt-get install -y valgrind
        cargo install --version 0.3.1 iai-callgrind-runner
    - name: Install stable toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
          toolchain: stable
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
      with:
        shared-key: ${{ runner.os }}-benchmark-build-cache
    - name: Run benchmarks
      run: cargo bench --no-fail-fast --bench "iai_*"
    - name: Save cache
      uses: actions/cache/save@v3
      with:
        path: |
          */target
        key: ${{ runner.os }}-iai-benchmark-cache-${{ github.sha }}
